div {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: left; 
  align-items: center; 
  background-color: var(--secondary-color);
  flex-grow: 1;
  margin-left: 60px;
}

.Title{
    font-size: 35px;
    color: white;
    margin-left: 15px;
}

.username,
.password {
    font-size: 15px;
    font-family: 'Times New Roman';
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 100px;
    margin-left: 0;             
    background-color: rgb(239, 239, 239);
    border-color: rgb(237, 235, 235);
    border-style: hidden;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.login-button{
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 2px;
    border-style: hidden;
    cursor: pointer;
    margin-left: 20px;
    display: block;
    margin-bottom: 10px;
}

.login-button:hover:active{
    background-color: rgb(209, 209, 209);
}

.logo{
    display: block;
    border-radius: 360px;
    border-style: solid;
    border-color: black;
    margin-bottom: 15px;
}                  

.line{
    height: 2px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.title{
    font-size: 35px;
    color: white;
    margin-left: 15px;
}

.Home{
    color: red;
    font-size: 30px;
    text-decoration: none;
    margin-right: auto; 
}

.home-link{
    text-decoration: none;
}

p{
    color: white;
}

.sign-up{
    font-size: 20px;
    color: greenyellow;
}

.content-container {
    border-style: solid;
    align-items: flex-start;
    gap: 10px;
    width: 350px;
    flex-direction: column;
    display: flex;
    padding: 15px;  
}

.question{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.signup-link{
    margin-left: 20px;
    text-decoration: none;
}

.title2{
    display: none;
}

.password-container {
    position: relative;
    width: 100%;
    margin-left: 0;  
}
.password-container .password {
    margin-left: 0;
    padding-right: 20px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: black;
}